@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.legal-header {
    padding: 24px;
    max-width: 55%;
    .arrow-back {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 70%;
    }
}

.legalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.textBlock {
    max-width: 60%;

    h1,
    h3,
    .source {
        text-align: center;
        margin: 48px 0 !important;
    }
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: $primaryColor;
    }
}

.accountable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
}

/* <= 430 */
@media (max-width: 430px) {
    .legal-header {
        .arrow-back {
            justify-content: flex-start;
        }
    }

    .textBlock {
        max-width: 90%;

        h1 {
            text-align: left;
        }
    }
}
