@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.legalWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner__legalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.legal-header {
    padding: 24px;
    width: 100%;
    max-width: 1200px;
    .arrow-back {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.textBlock {
    h1,
    h3,
    .source {
        text-align: center;
        margin: 48px 0 !important;
    }
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: $primaryColor;
    }
}

.accountable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
}

/* <= 430 */
@media (max-width: 430px) {
    .legal-header {
        .arrow-back {
            justify-content: flex-start;
        }
    }

    .textBlock {
        max-width: 90%;

        h1 {
            text-align: left;
        }
    }
}
