<header class="header">
    <div class="header__left">
        <app-language-toggle></app-language-toggle>
        <nav>
            <a routerLink="/about" routerLinkActive="active" (click)="scrollTo('aboutMeComponent')"  class="headerLinks">About me</a>
            <a routerLink="/skills" (click)="scrollTo('skillComponent')"  class="headerLinks">Skills</a>
            <a routerLink="/projects" (click)="scrollTo('projects')"  class="headerLinks">Projects</a>
        </nav>
    </div>
    <div class="header__right">
        <img src="img/friedrichfaraji_fulllogo2.png" alt="Logo Friedrich Faraji" class="logo">
    </div>
</header>
