<header class="header">
  <div class="header__left">
    <app-language-switcher></app-language-switcher>
    <nav>
      <a routerLink="/about" routerLinkActive="active">{{ 'About me' | translate }}</a>
      <a routerLink="/skills" routerLinkActive="active">{{ 'Skills' | translate }}</a>
      <a routerLink="/projects" routerLinkActive="active">{{ 'Projects' | translate }}</a>
    </nav>
  </div>
  <div class="header__right">
    <img src="img/friedrichfaraji_fulllogo2.png" alt="Logo Friedrich Faraji" class="logo">
    <!--span class="name">Friedrich Faraji</span-->
  </div>
</header>
