<div id="skillsWrapper" class="centerWrapper">
    <div class="leftInnerWrapper flex-end">
        <div class="greenTextBoxWrapper">
            <div class="greenBoxParagraph">
                <p class="textAboveBoxGreen">{{ 'skills.kicker' | translate }}</p>
            </div>

            <div class="textBoxGreen">
                <div>
                    <h1 class="greenBoxHeadline">{{ 'skills.headline' | translate }}</h1>

                    <p>
                        {{ 'skills.intro' | translate }}
                    </p>

                    <h3>
                        {{ 'skills.ask.pre' | translate }}
                        <span class="primaryColor">{{ 'skills.ask.highlight' | translate }}</span>
                    </h3>

                    <p>
                        {{ 'skills.more' | translate }}
                    </p>

                    <button class="button marquee-btn" [attr.aria-label]="'skills.cta.label' | translate">
                        <span class="label">{{ 'skills.cta.label' | translate }}</span>
                        <span class="track" aria-hidden="true">
              <span class="inner">
                  {{ 'skills.cta.label' | translate }} •
                  {{ 'skills.cta.label' | translate }} •
                  {{ 'skills.cta.label' | translate }} •
                  {{ 'skills.cta.label' | translate }} •
                  {{ 'skills.cta.label' | translate }} •
              </span>
            </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="rightInnerWrapper flex-start">
        <div class="skillIcons">
            <img src="img/icons/html.png" [attr.alt]="'skills.icons.html' | translate">
            <img src="img/icons/css.png" [attr.alt]="'skills.icons.css' | translate">
            <img src="img/icons/javascript.png" [attr.alt]="'skills.icons.javascript' | translate">
            <img src="img/icons/material_design.png" [attr.alt]="'skills.icons.material_design' | translate">
            <img src="img/icons/typescript.png" [attr.alt]="'skills.icons.typescript' | translate">
            <img src="img/icons/angular.png" [attr.alt]="'skills.icons.angular' | translate">
            <img src="img/icons/firebase.png" [attr.alt]="'skills.icons.firebase' | translate">
            <img src="img/icons/git.png" [attr.alt]="'skills.icons.git' | translate">
            <img src="img/icons/rest_api.png" [attr.alt]="'skills.icons.rest_api' | translate">
            <img src="img/icons/scrum.png" [attr.alt]="'skills.icons.scrum' | translate">
            <img src="img/icons/growth_mindset.png" [attr.alt]="'skills.icons.growth_mindset' | translate">
        </div>
    </div>
</div>
