@import '../../../styles/_variables';
@import '../../../styles/_mixins';

.centerWrapper {
    @include componentCenterWrapper;
}

.greenBoxHeadline {
    @include greenBoxHeadline;
}

.aboutMeLeftInnerWrapper {
    @include leftInnerWrapper;
}

.greenTextBoxWrapper {
    @include greenBoxWrapper;

    .textAboveBoxGreen { font-size: 24px; }

    .textBoxGreen {
        @include greenBoxStyle;
    }
}

.aboutMeTable {
    > table {
        > tr {
            > td {
                padding: 8px;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}
