<div id="aboutMeWrapper" class="centerWrapper">
    <div class="aboutMeLeftInnerWrapper flex-end">
        <div class="photoOfMe">
            <img src="img/photo.png" [attr.alt]="'about.alt.self' | translate">
        </div>
    </div>

    <div class="aboutMeRightInnerWrapper flex-start">
        <div class="greenTextBoxWrapper">
            <div class="greenBoxParagraph">
                <p class="textAboveBoxGreen">{{ 'about.kicker' | translate }}</p>
            </div>

            <div class="textBoxGreen">
                <div>
                    <h1 class="greenBoxHeadline">{{ 'about.headline' | translate }}</h1>
                    <p>
                        {{ 'about.intro' | translate }}
                    </p>
                </div>

                <div class="aboutMeTable">
                    <table>
                        <tr>
                            <td>
                                <img src="img/icons/location_on.png" [attr.alt]="'about.alt.location' | translate">
                            </td>
                            <td>{{ 'about.rows.r1' | translate }}</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/icons/cognition.png" [attr.alt]="'about.alt.mindset' | translate">
                            </td>
                            <td>{{ 'about.rows.r2' | translate }}</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/icons/new_releases.png" [attr.alt]="'about.alt.new' | translate">
                            </td>
                            <td>{{ 'about.rows.r3' | translate }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
