@import '../../../styles/_variables';
@import '../../../styles/_mixins';

.centerWrapper {
    @include componentCenterWrapper;
}

.greenBoxHeadline {
    @include greenBoxHeadline;
}

.aboutMeLeftInnerWrapper {
    @include leftInnerWrapper;
    transform: translateY(-50px); // 50px nach oben versetzt

    > div {
        > img {
            height: 568px;
            width: 568px;
        }
    }
}

.greenTextBoxWrapper {
    @include greenBoxWrapper;
    transform: translateY(50px); // 50px nach unten versetzt

    .textAboveBoxGreen {
        font-size: 24px;
    }

    .textBoxGreen {
        @include greenBoxStyle;
    }

    .greenBoxParagraph {
        display: flex;
        justify-content: flex-start;
        width: 568px;
    }
}

.aboutMeTable {
    > table {
        > tr {
            > td {
                padding: 8px;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}
