@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.centerWrapper {
    @include componentCenterWrapper;
}

.greenBoxHeadline {
    @include greenBoxHeadline;
}

.aboutMeLeftInnerWrapper {
    @include leftInnerWrapper;
    transform: translateY(-50px); // 50px nach oben versetzt

    > div {
        > img {
            height: 568px;
            width: 568px;
        }
    }
}

.aboutMeRightInnerWrapper {
    @include rightInnerWrapper;
}

.greenTextBoxWrapper {
    @include greenBoxWrapper;
    transform: translateY(50px); // 50px nach unten versetzt
}

.aboutMeTable {
    > table {
        > tr {
            > td {
                padding: 8px;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}
