<div class="projectsWrapper">
    <div class="projectsHeading">
        <p>
            Portfolio
        </p>
        <h1 class="greenBoxHeadline">
            Featured Projects
        </h1>
        <p>
            Explore a selection of my work here - Interact with projects to see my skills in action.
        </p>
    </div>
    <div class="projectsGrid">
        <div class="leftProjectGrid">
            <div class="projectCard">
                <div class="projectGridItemLeft">
                    Join
                </div>
                <div class="projectGridItemRight">
                    JavaScript <span class="greenPipe">|</span> HTML <span class="greenPipe">|</span> CSS <span class="greenPipe">|</span> Material Design
                </div>
            </div>
        </div>
        <div class="rightProjectGrid thumbnail">
            <img src="img/thumbnails/join.svg" alt="Join - Kanban Board">
        </div>
    </div>
</div>
