@use 'styles/variables' as v;
@use 'styles/mixins' as m;
@use 'styles/alignment';

// Variables:
$primaryColor: #3DCFB6;

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    color: white;
    font-family: 'Fira Code', sans-serif;
    background-image: url("/img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// Optional: Falls Sie möchten, dass der Hintergrund auch bei Überläufen sichtbar bleibt
#root, app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'ErsteSchrift';
    src: url('/fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; // Verbessert die Ladeperformance
}

@font-face {
    font-family: 'ZweiteSchrift';
    src: url('/fonts/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Code', sans-serif;
}

p, span, a, li {
    font-family: 'Karla', sans-serif;
}

a:hover {
    cursor: pointer;
}

/* Scrollbar */
/* Firefox global */
html {
    scrollbar-color: #3dcfb6 #1C1C1C;
    scrollbar-width: thin;
}

/* WebKit global */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #1C1C1C;
}

::-webkit-scrollbar-thumb {
    background-color: #3dcfb6;
    border-radius: 999px;
    border: 2px solid #1C1C1C;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2aa28d;
}
