$primaryColor: #3DCFB6;

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15% 0 0 0 ; /* Adjust padding to create space for the hero section */
}

.hero__subtitle {
    font-size: 40px;
    font-weight: 100;
    margin-block-start: 0;
    margin-block-end: 0;
}

.hero__title {
    font-size: 100px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.hero__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.heroButton_work,
.heroButton_contact {
    margin-top: 32px;
    color: white;
    width: 160px;
    height: 50px;
    background: transparent !important;
    border-color: white;
    border-radius: 40px;
    font-size: 17px;

    &:hover {
        border-color: $primaryColor;
        color: $primaryColor;
        transition: all 0.3s ease-in-out;
    }
}
