<section id="mainWrapper">
    <section class="hero">
        <h3 class="hero_subtitle">Frontend Developer</h3>
        <h1 class="hero_title">Friedrich Faraji</h1>

        <div class="heroButtonsWrapper">
            <button class="heroButton_work" routerLink="/about">Check my work</button>
            <button class="heroButton_contact" routerLink="/about">Contact me</button>
        </div>

        <section class="gimmick">
            <div class="gimmick_left">

            </div>
            <div class="gimmick_center">

            </div>
            <div class="gimmick_right">

            </div>
        </section>
    </section>

    <section id="aboutMeComponent">
        <app-aboutme></app-aboutme>
    </section>

    <section id="skillComponent">
        <app-skills></app-skills>
    </section>

    <section id="featuredSkills">
        <app-projects></app-projects>
    </section>

    <section id="routerOutlet">
        <router-outlet></router-outlet>
    </section>
</section>
