@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8% 0 7% 0 ; /* Adjust padding to create space for the hero section */
}

.hero_subtitle {
    font-size: 40px;
    font-weight: 100;
    margin-block-start: 0;
    margin-block-end: 0;
}

.hero_title {
    font-size: 100px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.heroButtonsWrapper {
    @include buttonsWrapper;
}

.heroButton_work,
.heroButton_contact {
    @include buttonStyle160px;
}
