<div class="container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <label for="name">Name</label>
        <input [(ngModel)]="contactData.name" type="text" id="name" name="firstname" placeholder="Your name.." required>

        <label for="email">E-Mail</label>
        <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Write something.." required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

        <label for="message">Subject</label>
        <textarea #message="ngModel" minlength="8" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Write something.." style="height:200px" required></textarea>

        @if (!message.valid && message.touched && !message.disabled) {
            <div class="error-message">Please enter a valid message.</div>
        }

        <input type="submit" value="Submit">

    </form>
</div>
