@use 'variables' as v;

// Mixin für Box-Stile
@mixin componentCenterWrapper {
    background-color: v.$secondaryColorBG;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    //height: 70vh;
    color: v.$primaryColor;
    font-size: 18px;
}

@mixin componentCenterWrapperBG {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    //height: 70vh;
    height: auto;
    color: v.$primaryColor;
    font-size: 18px;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin greenBoxWrapper {
    width: 568px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;

    .textAboveBoxGreen {
        font-size: 24px;
    }

    .textBoxGreen {
        @include greenBoxStyle;
    }

    .greenBoxParagraph {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: 24px;
    }
}

@mixin greenBoxStyle {
    background-color: v.$primaryColorBG;
    padding: v.$paddingDefault;
    border: 1px solid v.$primaryColor;
    border-radius: v.$borderRadius;
    color: white;
    max-width: 568px;

    > div > h1.greenBoxHeadline {
        font-size: 64px;
        font-weight: bold;
    }
}

@mixin generalBoxStyle {
    background-color: v.$primaryColorBG;
    padding: v.$paddingDefault;
    border: 1px solid v.$borderColor;
    border-radius: v.$borderRadius;
    box-shadow: v.$boxShadow;
    color: white;
    max-width: 568px;
}

@mixin justABox {
    max-width: 568px;
}

@mixin leftInnerWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin rightInnerWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin greenBoxHeadline {
    color: v.$primaryColor;
    font-size: clamp(40px, 7vw, 64px);
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

@mixin flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Mixin für Button-Stile
@mixin buttonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

// Mixin für Button-Stile
@mixin buttonStyle160px {
    margin-top: 32px;
    color: white;
    width: 160px;
    height: 50px;
    background: transparent !important;
    border-color: white;
    border-radius: 40px;
    font-size: 17px;

    &:hover {
        border-color: v.$primaryColor;
        color: v.$primaryColor;
        transition: all 0.3s ease-in-out;
    }
}

@mixin buttonStyle122px {
    color: white;
    width: 122px;
    height: 48px;
    background: transparent !important;
    border-color: white;
    border-radius: 40px;
    font-size: 17px;

    &:hover {
        border-color: v.$primaryColor;
        color: v.$primaryColor;
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (max-width: 800px) {
    .centerWrapper {
        height: auto !important;
    }
}
