// Farbvariablen
$primaryColor: #3DCFB6;
$primaryColorBG: #1f2e2b;
$black: #000000;

$backgroundColor: #000000;
$textColor: #FFFFFF;

// Typografie
$fontSizeDefault: 16px;
$fontSizeLarge: 24px;
$fontSizeXLarge: 32px;

// Box-Styles
$boxShadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$borderRadius: 16px;
$borderColor: $primaryColor;
$paddingDefault: 16px;

